.about{
    color: aliceblue;
    height: 100%;
    display: flex;
    
}

.about-left{
    flex: 1;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img{
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 15%;
}


.about-right{
    flex: 1;
    background-color: antiquewhite;
    display: flex;
}


.about-summary-wrapper{
    background-color: deepskyblue;
    width: 100%;
    padding-left: 30px;
    border-radius: 15%;
    box-shadow: 5px 10px 8px 10px #888888;
    position: relative;
}

@media screen and (max-width:480px) {
    .about{
        flex-direction:column ;
        padding-top: 50px;
        height: 100%;
        width: 100%;
    }

    .about-left{
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .about-right{
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    .about-summary-wrapper{
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }
}